/* CSS declarations go here */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-top: 3em;
  margin-bottom: 3em;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 3em;
  background-image: url('../img/navbarBG.png');
  background-size: cover;
  padding-top: .6em;
  padding-bottom: 0;
  margin-bottom: 0;
  text-align: center;
}
.navbar {
  background-image: url('../img/navbarBG.png');
  background-size: cover;
  padding-bottom: 0;
  margin-bottom: 0;
  text-emphasis: bold;
}
.navbar-brand {
  display: inline-block;
  max-width: 20%;
  max-height: 100%;
  padding-top: 2px;
}
.navbar-brand .img {
  height: 100%;
  padding: 15px;
  /* firefox bug fix */
  width: auto;
}
