<template name="about">
  <div class='header'><h3>About Us</h3></div>
  <h5>Hi, my name is David and I’m the founder of
    <a href="/">Sommbeer</a>
  </h5>
  <h5>We are a team of contributors that enjoy talking, debating, philosophizing and
    <em>drinking</em>
    craft beer. &nbsp;
    <p>For contributors and craft beer enthusiasts alike, it’s important that we have fun.</p>
  </h5>
  <img src="../img/English-Pub-Somm-Beer.jpg"/>
</template>
