<template name="nav">
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span>&#9776;</span>
            <span class="sr-only">Toggle navigation</span>
          </button>
          <a class="navbar-brand" href="/"><img src="../img/sommBrand.png"/></a>
        </div>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left">
          <li>
            <a href="brewers"><strong>Brewers</strong></a>
          </li>
          <li>
            <a href="team"><strong>Our Team</strong></a>
          </li>
          <li>
            <a href="about"><strong>About Us</strong></a>
          </li>
          <li>
            <a href="{{blogPathFor 'blogIndex'}}"><strong>Blog</strong></a>
          </li>
          <li>
            <a href="{{blogPathFor 'blogAdmin'}}"><strong>Admin</strong></a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {{> loginButtons}}
        </ul>
      </div>
    </div>
  </div>
</template>
