<template name="brewers">
  <div class="header"><h3>Brewery Directory</h3></div>
  <p>Brewer Directory – Coming soon!</p>

  <p>If you have a favorite brewery that you’d like to have listed and perhaps even reviewed on Sommbeer.com please send us a note.</p>

  <p>Sommbeer@gmail.com</p>
</template>
