<template name='layout'>
  {{> nav}}
  <div class="container">
    {{> yield}}
  </div>
  <footer class="footer">
    <div class="container">
      <p class="text" style="text-align: center"><strong>Materials sourced from sommbeer.com with permission from owner</strong></p>
    </div>
  </footer>

</template>
