<template name="team">
  <div class="header"><h3>Writing Team</h3></div>
  <p>A Tribute to the Sommbeer Team Contributors – We’ve grown so much since that first contributor dared to write for this site (@hopscanary 7/24/14).  In a very short period of time, we’ve grown into a beer community and now boast a full team of contributors.  Let’s keep growing, I’m enjoying the ride. – David
  </p>
  <div class="header">
    <h4>Our Contributors:</h4>
    {{#each writer in writers}}
    <span>{{name}}</span>&nbsp;<a href="{{handleLink}}">{{handle}}</a>&nbsp;
    {{#if site }}
    Site: {{site}}
    {{/if}}
    {{/each}}
  </div>

</template>
